@use '_commons' as c;

/*CONTENT------------------------------------------------------*/

body {
    margin: 0;
    padding: 0;

}


h2 {
    color: map-get(c.$colores , titpaisesindex );
    background: map-get(c.$colores, gradprincipal);
    text-align: center;
}

.titulosMov {
    background: map-get(c.$colores , gradtitulos );
    border-radius: 20px;
    display: block;
    position: relative;
    width: 300px;
    cursor: pointer;
    color: black;
    text-align: center;

    font: {
        family: 'Lobster', cursive;
        weight: 300;
        size: 33px;
    }

    padding: 16px 31px;
    text-decoration: none;
    margin: 0px auto;
    animation: resaltado 3s infinite;

    &:hover {
        background: map-get(c.$colores, gradtituloshover);
        color: darkblue;
        transform: scale(1.0);
        transition: 0.3s;

    }

}


.logoMov {
    color: darkgreen;
    padding-left: 20px;

    font: {
        size: 45px;
        weight: 300;
        family: 'Lobster', cursive;
    }

    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    margin-left: 0px;
    padding-bottom: 70px;
    display: block;
    position: relative;
    cursor: pointer;
    animation: resaltado 3s infinite;
    text-decoration: none;

    &:hover {
        color: darkgreen;
    }
}

@keyframes resaltado {
    0% {
        top: 0px;
    }

    50% {
        top: 10px;
        background-color: none;
    }

    100% {
        top: 0px;
    }
}

.fondos{
    background: map-get(c.$colores, gradprincipal);
    height: 30px;
    
    
}


p {
    color: #020e0a;

    font: {
        size: 14px;
        weight: normal;
        style: italic;
        family: cursive;
    }

    width: 85%;

}

.video__maps {
    width: 45vh;
    height: 30vh;

    @media only screen and (min-width: 768px) {
        width: 60vh;
        height: 45vh;


    }

}


label {
    color: #292902;
    font-weight: bold;

} 


/* Centrado*/
.contenedor {
    width: 100%;
    display: flex; /* inicio de flexbox*/
    flex-direction: column;  /* vertical u hotizontal*/
    justify-content: center; /* alinerar vertical u hotizontal*/
    align-items: center;
    background: map-get(c.$colores, gradprincipal);
    text-align: left;

}


#Euro_tabla_mapa{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: map-get(c.$colores, gradprincipal); 

}

#Nosotros{
    @extend #Euro_tabla_mapa
}


#home{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color:map-get(c.$colores, gradprincipal);

}

#countries{
    @extend #home

}

#cities{
    @extend #home

}


.infogral{
    margin-left: 20%;
    margin-bottom: 10%;
    margin-top: 10%;

}
.Euro_video{
    width: 45vh;
    height: 30vh;
    margin-top: auto;
    margin-bottom: auto;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    @media only screen and (min-width: 768px) {
        width: 70vh;
        height: 55vh;


    }

}

.Euro_texto{
    margin-top: 10%;
    padding-left: 19%;
    padding-right: 19%;
    color: black;

}

@media only screen and (max-width: 1280px){
    #home{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .infogral{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
    }
    .Euro_texto{
        margin-top: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}



#avion{
    position: relative;
    animation: movimiento 5s infinite;
}

@keyframes movimiento {
    0% {
        left: 0px;
    }

    20% {
        left: 100px;
        background-color: darkgray;
    }

    40% {
        left: 150px;
        background-color: yellow;
    }

    60% {
        left: 250px;
        background-color: orange;
    }
}


