@use '_commons' as c;


/*COUNTRIES-CITIES---------------------------------------------------------------------*/

h3 {
    color: map-get(c.$colores , titpaisesindex );

    font : {
        size: 25px;
        style: italic;
        weight: bold;
    }

    text: {
        decoration: underline;
        align: center;
    }

    background-color: none;

}

h4 {
    color: map-get(c.$colores , titciudades );
    list-style-type: circle;
    font-size: 25px;
}

.textoLogin {
    color: darkslategray;

    font: {
        family: cursive;
        weight: bold;
    }

}

.textoPaises {
    color:map-get(c.$colores , titpaisesindex );

    font: {
        size: 25px;
        style: italic;
        weight: bold;
    }

    text: {
        decoration: underline;
        align: center;
    }

    background-color: none
}

/*Contenedores*/
.contenedor_city {
    width: 100%;
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly; 
    align-items: center;
    background: map-get(c.$colores, gradprincipal);

    @media only screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        text-align: center;
        
    }
}



details {
    color: #020e0a;

    font: {
        size: 14px;
        weight: normal;
        style: italic;
        family: cursive;
    }
}

summary {
    color: darkgreen;

    font: {
        size: 15px;
        weight: bolder;
        family: Verdana, Geneva, Tahoma, sans-serif;
    }

    background: map-get(c.$colores, gradprincipal);
    &:hover{
        background-color: lightseagreen;
        color: whitesmoke;
    }

}
/*Carrusel de imagenes*/
.imagen__ciudades {
    display: none;

    @media only screen and (min-width: 768px) {
        width: 60vh;
        height: 45vh;
        margin-left: 34%;
        border-radius: 7px;
        display: block;
    }
}




