@use '_commons' as c;

/*NAV------------------------------------------------------------*/

/* Menu hamburguesa*/
nav {
    background: map-get(c.$colores , gradnav );
    bottom: 40px;
    text-align: bottom;
    height: 80px;
    width: 100%;
    position: sticky;
    z-index: 1;

    ul {
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        margin-right: 20px;
        float: right;

        @media only screen and (max-width: 600px) {
            display: flex;
            flex-direction: column;
            column-gap: 0px;
            row-gap: 0px;
            line-height: 0px;

        }

        li {
            color: #010511ce;
            font-weight: bold;
            display: inline-block;
            position: relative;
            line-height: 80px;
            margin: 0 5px;

            a {
                color: yellow;

                font: {
                    size: 16px;
                    style: normal;
                }

                margin-bottom: 7px;
                padding: 7px 13px;
                border-radius: 3px;
                text-decoration: none;

                &:hover {
                    color: orange;
                    font-weight: bold;
                    background-color: black;

                }

            }

            &:hover ul {
                display: block;
                background-color: grey;

                li a {
                    display: block;
                    background-color: grey;
                    margin: 0;

                    @media only screen and (max-width: 700px) {
                        display: none;
                        flex-direction: column;
                        background-color: transparent;

                        font : {
                            size: 15px;
                            weight: bold;

                        }

                        color: black;
                        margin: -18px;
                        line-height: 0px;

                    }
                }
            }
        }
    }
}


li a.active, li a:hover{
    background: darkslategrey;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: yellowgreen;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


.enlace{
    position: absolute;
    padding: 20px 50px;
    }


@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
        
    }
}


@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: map-get(c.$colores , gradhamburguesa );
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;

    }

    nav ul li {
        display: block;
        margin: 20px 0;
        line-height: 0%;

        a {
            font-size: 17px;
        }
    }

    li a:hover,
    li a.active {
        background: none;
        color: lightskyblue;
        font-size: bold;
    }

    #check:checked~ul {
        left: 0;
    }
}

/* Navegador*/

nav ul ul {
    position: absolute;
    display: none;

    li {
        display: block;
        width: 200px;
        padding: 0px;
        line-height: 10px;

        a {
            color: white;

            font : {
                size: 15px;
                family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                weight: normal;

            }

            text : {
                decoration: none;
                align: left;
            }

        }
    }
}

