@use '_commons' as c;

/*TABLE--------------------------------------------------------*/

@mixin tabla($letra: darkblue, $fondo: lemonchiffon){
    color: $letra;
    background-color: $fondo;
}

.textoAzul {
    @include tabla;

}

td{
    @include tabla;
    font-size: 13px ;
}

.textoRemarcado {
    @include tabla;
    font-weight: bold;
    text-align: left;
    font-size: 15px;

}


@mixin margenes($derecho: auto, $izquierdo: auto){
    margin-right: $derecho;
    margin-left: $izquierdo;
}

tr{
    @include margenes();
}

table {
    @include margenes();
    overflow-x: auto;
    display: none;

    @media only screen and (min-width: 600px) {
        width: 70vh;
        height: 36vh;
        display: block;
    }
}


.ocultarinfo {
    display: none;

    @media only screen and (min-width: 600px) {
        width: 70vh;
        height: 5vh;
        display: block;
    }

}

