
body{
    background-color: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carrousel{
    width: 100%;
}

.conteCarrousel{
    width: 100%;
    height: 400px;
    overflow: hidden;
    

}

.itemCarrousel{
    position: relative ;
    width: 100%;
    height: 100%;
    
}


/*.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
}*/

img{
    width: auto;
    height: 100%;


}


.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}

#itemCarrousel-1{
    background-color: rgb(226, 50, 50);
    display: flex;
    justify-content: center;
}

#itemCarrousel-2{
    background-color: rgb(50, 200, 226);
    display: flex;
    justify-content: center;
}

#itemCarrousel-3{
    background-color: rgb(200, 226, 50);
    display: flex;
    justify-content: center;
}

.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: center;
}

.conteCarrouselController > a{
    text-decoration: none;
    font-size: 2em;
    color: grey;
}

.itemCarrouselArrows > a > i{
    color: white;
}