@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');


body{ 
    margin: 0;
    padding: 0;

}

/* Etiquetas textos */
h1{
    color:blue;
    font-size: 45px;
    font-weight:300;
    font-family: 'Lobster', cursive;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    margin-left: 30px;
    padding-bottom: 70px;
    

}

h2{
    color:#077929;
    font-size: 35px;
    font-weight:300;
    font-family: 'Lobster', cursive;
    text-align: center;
    background-color: bisque;

}


h4{
    color: darkred;
    list-style-type: circle;
    font-size: 25px;
}

th{
    color:#1707aa;

}

td{
    color:#292902;
    background-color: lemonchiffon;

}

p{
    color:#020e0a;
    font-size: 14px;
    font-weight:normal;
    font-style: italic;
    font-family: cursive;
}

/* Centrado */
table{
    margin-right: auto;
    margin-left: auto;
}

tr{
    margin-right: auto;
    margin-left: auto;
}

section h2{
    text-align: center;
}


/* Separador */
.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}


/* Menu */
/* Herencia */
nav {
	position: relative;
	bottom: 40px;
    text-align: bottom;
	
}


nav ul{
    font-size:20px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-right: 15px;

}


nav ul li{
    color:#010511ce;
    font-weight: bold;
    display: inline-block;
    position: relative;


}


nav ul li a{
    color:darkblue;
    font-size: 18px;
    font-style: normal;
    margin-bottom: 7px;

}


nav ul ul{
    position: absolute;
    display: none;
}

nav ul ul li{
    display: block;
    width:200px;
    padding: 0px;

}

nav ul ul li a {
    color: white;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    text-decoration: none;
    text-align: left ;
}



/* Uso de Hover */
nav ul li:hover ul{
    display: block;
    background-color: grey;
}


nav ul li:hover ul li a{
    display: block;
    background-color: grey;
    
}

nav ul li a:hover{
    color:yellow;
    font-weight: bold;
    background-color:black;
    
}


img:hover{
    background-color: yellow;
}



/* CLASS */
/* Cabecera */
header{
    background-color: darkgray;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    height: 160px;
    position: sticky;  /*SUPERPOSICION DEL HEADER*/
    top: 0px;
    z-index: 1;
    
	
}

/*.navBackground {
	background-color: lightcoral;
	position: sticky;
    height: 160px;
    top: 0px;
}*/

.logo{
    width: 120px;
    height: 50px;
    border: solid 2px darkslategrey;
    margin-left: 30px;
    margin-top: 110px;

    
}

.bordes{
    border: outset 5px lightseagreen;
}

.fotoPais{
    width: 370px;
    
}

.fotociudad{
    width: 500px;
    
}

.textoAzul{
    color:blue;
    background-color: lemonchiffon;
}

.textoLogin{
    color:darkslategray;
    font-family: cursive;
    font-weight: bold;
    
}


.textoRemarcado{
    color: darkslategray;
    background-color: lemonchiffon;
    font-weight: bold;
    text-align: center;

}

.textoPaises{
    color: black;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
    background-color: none

}


h3{
    color:black;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
    background-color: none
    
}


/* ID */
#video{
    background-color: #abd1c6;
}


label{
    color:#292902;
    font-weight: bold;

}


/* Pie de pagina */
footer{
    background-color: lightblue;
    font-weight: bold;
    margin-bottom: 5px; 
    
}


footer p{
    color:#1707aa;
    text-align: center;
    font-weight: bold; 
}

footer a{
    margin: 10px;
    display: inline;


}

.links{
    color:#1707aa;
    text-align: center;
    font-weight: bold; 

}

/* CENTRADO*/

.container {
    width: 100%;
    display: flex;   /* inicio de flexbox*/
    flex-direction: column; /* vertical u hotizontal*/
    justify-content: center; /* alinerar vertical u hotizontal*/
    align-items: center;
    background-color: bisque;
    }

.container--footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    

/* Leer mas ..*/
.readMore_btn {
    background-color: darkgreen;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 30px;
    font-size: 12px;
    box-shadow: 0px 0px 10px 0px #4caf50;
    cursor: pointer;
    }

.readMore_btn:hover {
    box-shadow: none;
    background-color: darkblue;
    color: #fff;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3.05s;
    }

.hideText {
    display: none;
    }

.showText {
    display: block;
    }

/* Etiquetas interactivas -Ocultar texto-*/
details{
    color:#020e0a;
    font-size: 14px;
    font-weight:normal;
    font-style: italic;
    font-family: cursive;

}

summary{
    color: darkgreen;
    font-size: 15px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgoldenrodyellow;
    
}

/* Formulario de contacto*/
form label{
    color:darkblue;
    font-size: 14px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

form input{
    color:grey;
    font-size: 14px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;


}

form textarea{
    color:grey;
    font-size: 14px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

form p{
    text-align: center;
}

form p:hover{
    color: blue;

}

form label:hover{
    color: red;

}




/*CARROUSEL DE IMAGENES*/

*{
    /*margin: 0;
    padding: 0;*/
    box-sizing: border-box;
        
}

.carrousel{
    width: 60%;
    
    
    
}

.conteCarrousel{
    width: 100%;
    height: 400px;
    overflow: hidden;
    
    

}

.itemCarrousel{
    position: relative; /* HACE QUE SE SUPERPPONGA*/
    width: 100%;
    height: 100%;
    
}


/*.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
}*/

img{
    width: auto;
    height: auto;


}


.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
    
}

#itemCarrousel-1{
    background-color:bisque;
    display: flex;
    justify-content: center;
}

#itemCarrousel-2{
    background-color: bisque;
    display: flex;
    justify-content: center;
}

#itemCarrousel-3{
    background-color: bisque;
    display: flex;
    justify-content: center;
}

.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: center;
}

.conteCarrouselController > a{
    text-decoration: none;
    font-size: 2em;
    color: grey;
}

.itemCarrouselArrows > a > i{
    color: blue;
    font-weight: bold;
    
}