@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');


body{ 
    margin: 0;
    padding: 0;

}

/* Etiquetas textos */
h1{
    color:whitesmoke;
    font-size: 40px;
    font-weight:300;
    font-family: 'Lobster', cursive;

}

h2{
    color:#077929;
    font-size: 40px;
    font-weight:300;
    font-family: 'Lobster', cursive;

}

h3{
    color:#1707aa;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;

}

h4{
    color: #077929;
    list-style-type: circle;
}

th{
    color:#1707aa;

}

td{
    color:#292902;
    background-color: lemonchiffon;

}

p{
    color:#020e0a;
    font-size: 14px;
    font-weight:normal;
    font-style: italic;
    font-family: cursive;
}

/* Centrado */
table{
    margin-right: auto;
    margin-left: auto;
}

tr{
    margin-right: auto;
    margin-left: auto;
}

section h2{
    text-align: center;
}

/* Separador */
.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}


/* Cabecera */
header{
    background-color: #b61429;
}

/* Menu */
/* Herencia */


nav {
	position: relative;
	bottom: 70px;
    text-align: center;
	
}


nav ul{
    font-size:30px;
}


nav ul li{
    color:#010511ce;
    font-weight: bold;
    display: inline-block;
    position: relative;
}


nav ul li a{
    color:yellow;
    font-size: 20px;
    font-style: normal;

}


nav ul ul{
    position: absolute;
    display: none;
}

nav ul ul li{
    display: block;
    width:200px;
    padding: 5px;

}

nav ul ul li a {
    color: lightskyblue;
    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    text-decoration: none;
    text-align: left ;
}



/* Uso de Hover */
nav ul li:hover ul{
    display: block;
    background-color: darkslategrey;
}


nav ul li:hover ul li a{
    display: block;
    background-color: darkslategrey;
    
}
nav ul li a:hover{
    color:whitesmoke;
    background-color:black;
    
}

img:hover{
    background-color: greenyellow;
}



/* Secciones secundarias */
section{
    background-color: lightgray;
    height: 60px;
}


/* CLASS */
.navBackground {
	background-color: lightseagreen;
	position: sticky;
    height: 150px;
    top: 0px;
}

.logo{
    width: 140px;
    
}

.fotoPais{
    width: 350px;
    
}

.textoAzul{
    color:blue;
    background-color: lemonchiffon;
}

.textoLogin{
    color:blue;
    font-family: cursive;
    font-weight: bold;
}

.textoContrasena{
    color:darkslategray;
    font-weight: bold;
}



.textoRemarcado{
    color: darkslategray;
    background-color: lemonchiffon;
    font-weight: bold;
    text-align: center;

}

.textoPaises{
    color: darkblue;
    background-color: lightgrey;
    font-weight: bold;
    text-align: left;

}

/* ID */
#video{
    background-color: #abd1c6;
}


label{
    color:#292902;
    font-weight: bold;

}


/* Pie de pagina */
footer{
    background-color: lightskyblue;
    font-weight: bold;
    margin-bottom: 5px;  
}


footer p{
    color:#1707aa;
    text-align: center;
    font-weight: bold; 
}

footer a{
    margin: 10px;
    display: inline;

}

.links{
    color:#1707aa;
    text-align: center;
    font-weight: bold; 

}

/* Leer mas ..*/
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.readMore_btn {
    background-color: darkgreen;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 30px;
    font-size: 12px;
    box-shadow: 0px 0px 10px 0px #4caf50;
    cursor: pointer;
    }

.readMore_btn:hover {
    box-shadow: none;
    background-color: darkblue;
    color: #fff;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3.05s;
    }

.hideText {
    display: none;
    }

.showText {
    display: block;
    }
